<div class="fixed inset-0 flex items-start sm:items-center justify-center z-50 bg-[#00000080] backdrop-blur-md">
  <div class="max-h-screen w-full sm:w-auto overflow-y-auto rounded-[10px]">
    <div
      class="bg-[#0A1136] sm:w-[400px] w-[calc(100%-30px)] mt-[80px] mb-[15px] sm:mt-0 rounded-[10px] shadow-lg relative min-h-[414px] text-center mx-auto">

      <div class="px-4 pb-5 pt-5 sm:p-5">
        <h1 class="text-[22px] font-[600] sm:text-[28px] text-white mt-6">
          Forgot Password
        </h1>
        <p class="text-sm text-[#FFFFFF66] mt-1 px-5">
          Please enter the email address you'd like your password reset information sent to.
        </p>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="mt-10 text-left">
          <!-- Email -->
          <div>
            <label class="block text-sm font-medium text-white mb-2">Email</label>
            <div class="relative">
              <input
                type="email"
                formControlName="email"
                placeholder="Enter your email"
                class="w-full px-3 py-2 text-sm text-white bg-transparent border border-[#555] rounded focus:outline-none focus:ring-1 focus:ring-blue-500" />
              <span class="material-icons absolute right-3 top-1/2 -translate-y-1/2 text-white">mail</span>
            </div>

            @if (resetForm.controls['email'].invalid && (resetForm.controls['email'].touched || formSubmitted)) {
              <div class="text-red-500 text-sm mt-1">
                {{ resetForm.controls['email'].errors?.['required'] ? 'Email is required' : 'Enter a valid email' }}
              </div>
            }
          </div>

          <!-- Submit button -->
          <div class="pt-6">
            <button
              type="submit"
              [disabled]="isLoading"
              class="flex w-full items-center justify-center h-10 px-3 rounded-[4px] cursor-pointer btn-secondary font-semibold text-[14px] text-[#fff]">

              @if (isLoading) {
                <mat-spinner [diameter]="24" class="white-custom-spinner"></mat-spinner>
              } @else {
                <span>Send</span>
              }
            </button>
          </div>

          <div class="flex flex-col items-center mt-4">
            <p class="text-sm font-light text-[#FFFFFF66]">
              Already have an account?
              <span class="text-white cursor-pointer hover:text-[#5D5BE2]" (click)="openLoginPopup()">Log in</span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
