::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #fff !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #9810fa !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
  border-bottom-color: #9810fa !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-bottom: 0px !important;
}

/* Default */
::ng-deep .mat-mdc-form-field .mdc-line-ripple::before {
  border-bottom-color: #D7D5DB !important;
}

/* On Hover (but not focused) */
::ng-deep .mat-mdc-form-field:not(.mat-focused):hover .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

/* On Focus */
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

::ng-deep .mat-sort-header-arrow svg {
  fill: #fff !important;
}

::ng-deep .mat-sort-header-arrow {
  opacity: 1 !important;
}


.table-container {
  max-height: 600px;
  overflow: auto;
}

.styled-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  min-width: 600px;

  th.mat-mdc-header-cell {
    background-color: #F8F8F8;
    color: #181D1F;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #BABFC7;
  }

  td.mat-mdc-cell {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;
    vertical-align: middle;
   border-bottom: 1px solid #DDE2EB;
  }

}



