::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #fff !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #9810fa !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
  border-bottom-color: #9810fa !important;
}

/* Default */
::ng-deep .mat-mdc-form-field .mdc-line-ripple::before {
  border-bottom-color: #D7D5DB !important;
}

/* On Hover (but not focused) */
::ng-deep .mat-mdc-form-field:not(.mat-focused):hover .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

/* On Focus */
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

.card-outer {
  /*border: 1px solid green; */
  padding: 20px 40px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 12px 45px -4px #2C224C0D;
  box-shadow: 0px 8px 20px -6px #2C224C0D;
}

