<div class="fixed inset-0 flex items-start sm:items-center justify-center z-50 bg-[black/50] backdrop-blur-md">
  <div class="max-h-screen w-full sm:w-auto overflow-y-auto rounded-[10px]">
    <div
      class="bg-[#2c2155] sm:w-[400px] w-[calc(100%-30px)] mt-[80px] mb-[15px] sm:mt-0 rounded-[10px] shadow-lg relative min-h-[414px] text-center mx-auto">

      <div class="px-4 pb-5 pt-5 sm:p-5">
        <h1 class="text-[22px] font-[600] leading-[33px] sm:text-[28px] sm:leading-[42px] mt-[24px] text-[#fff]">
          Change Password</h1>
        <p class="text-sm text-[#FFFFFF66]">Kindly fill in this form to change password</p>
        <form class="mt-6" [formGroup]="changePasswordForm">

          <!-- Password -->
          <div class="mt-4">
            <label class="block text-[14px] font-[500] leading-[21px] text-start text-[#fff]">New Password</label>
            <div class="relative mt-1">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                placeholder="Enter your password"
                class="text-[14px] font-[300] leading-[14px] w-full px-[10px] h-[38px] text-white bg-transparent focus:outline-none focus:ring-1 focus:ring-[#9810fa] input-brdr" />
              <span class="material-icons absolute right-3 top-2 text-white cursor-pointer"
                (click)="showPassword = !showPassword">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
              </span>
            </div>
            @if (f['password'].touched && f['password'].errors) {
            <div class="text-red-500 text-sm mt-1 text-left">
              @if (f['password'].errors['required']) {
              <span>Password is required</span>
              }
              @if (f['password'].errors['minlength']) {
              <span>Password must be at least 8 characters</span>
              }
              @if (f['password'].errors['pattern']) {
              <span>
                Password must contain 1 uppercase, 1 lowercase, 1 number and 1 special character
              </span>
              }
            </div>
            }

          </div>

          <!-- Confirm Password -->
          <div class="mt-4">
            <label class="block text-[14px] font-[500] leading-[21px] text-start text-[#fff]">Confirm Password</label>
            <div class="relative mt-1">
              <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                placeholder="Confirm your password"
                class="text-[14px] font-[300] leading-[14px] w-full px-[10px] h-[38px] text-white bg-transparent focus:outline-none focus:ring-1 focus:ring-[#9810fa] input-brdr" />
              <span class="material-icons absolute right-3 top-2 text-white cursor-pointer"
                (click)="showConfirmPassword = !showConfirmPassword">
                {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
              </span>
            </div>
            @if (
            f['confirmPassword'].touched &&
            (f['confirmPassword'].errors || changePasswordForm.errors?.['mismatch'])
            ) {
            <div class="text-red-500 text-sm mt-1 text-left">
              @if (f['confirmPassword'].errors?.['required']) {
              <span>Confirm password is required</span>
              }
              @if (
              changePasswordForm.errors?.['mismatch'] &&
              !f['confirmPassword'].errors?.['required']
              ) {
              <span>Passwords must match</span>
              }
            </div>
            }

          </div>

          <!-- Terms Checkbox -->

          <div class="mt-6">
            <!-- Submit Button -->
            <button type="button" (click)="handleSubmit($event)" [disabled]="isLoading || changePasswordForm.invalid"
              class="flex w-full items-center cursor-pointer justify-center h-12 px-3 rounded-[4px] btn-secondary font-semibold text-[14px] leading-[20px] text-[#fff]">
              @if (isLoading) {
              <mat-spinner [diameter]="24" class="white-custom-spinner"></mat-spinner>
              } @else {
              <span>Save</span>
              }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>