::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #fff !important;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #9810fa !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
  border-bottom-color: #9810fa !important;
}

/* Default */
::ng-deep .mat-mdc-form-field .mdc-line-ripple::before {
  border-bottom-color: #D7D5DB !important;
}

/* On Hover (but not focused) */
::ng-deep .mat-mdc-form-field:not(.mat-focused):hover .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

/* On Focus */
::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::before {
  border-bottom-color: #CCB1F8 !important;
}

