.send-mail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
}

.input-field {
  padding: 0.5rem;
  font-size: 16px;
}

.send-btn {
  padding: 0.5rem 1rem;
  background: #5a32a3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.changeLink a {
  color: red;
}

::placeholder {
  color: #00000099;
}


::ng-deep .mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
}

::ng-deep .selectcss .mat-mdc-form-field-infix{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 20px;
}