<div class="w-full p-4 flex justify-center items-center">
  <form class="w-full" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <!-- Title -->
    <div class="mb-4">
      <label class="font-semibold text-[16px]">Change Password</label>
    </div>

    <!-- Old Password -->
    <mat-form-field appearance="fill" class="w-full relative">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="hideOldPassword ? 'password' : 'text'" placeholder="Enter old password"
        formControlName="oldPassword" (input)="onInputChange('oldPassword')" />

      <button class="cursor-pointer" *ngIf="showOldEyeIcon" mat-icon-button matSuffix
        (click)="togglePasswordVisibility('oldPassword')" type="button" tabindex="-1">
        <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (formSubmitted && passwordForm.get('oldPassword')?.hasError('required')) {
      <mat-error>
        Old password is required
      </mat-error>
      }
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="fill" class="w-full relative pt-4">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" placeholder="Enter new password"
        formControlName="newPassword" (input)="onInputChange('newPassword')" />

      <button class="cursor-pointer" *ngIf="showNewEyeIcon" mat-icon-button matSuffix
        (click)="togglePasswordVisibility('newPassword')" type="button" tabindex="-1">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (formSubmitted && passwordForm.get('newPassword')?.hasError('required')) {
      <mat-error>
        New password is required
      </mat-error>
      }
      @if (formSubmitted && passwordForm.get('newPassword')?.hasError('required')) {
      <mat-error>
        Minimum 6 characters required
      </mat-error>
      }
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="fill" class="w-full relative pt-4">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Enter confirm password"
        formControlName="confirmPassword" (input)="onInputChange('confirmPassword')" />

      <button class="cursor-pointer" *ngIf="showConfirmEyeIcon" mat-icon-button matSuffix
        (click)="togglePasswordVisibility('confirmPassword')" type="button" tabindex="-1">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (formSubmitted && passwordForm.get('confirmPassword')?.hasError('required')) {
      <mat-error>
        Confirm password is required
      </mat-error>
      }
      @if (formSubmitted && passwordForm.hasError('mismatch')) {
      <mat-error>
        Passwords do not match
      </mat-error>
      }
    </mat-form-field>

    <!-- Save Button -->
    <div class="col-span-2 mt-4">
      <button type="submit" [disabled]="isLoading"
        class="h-10 px-4 rounded-[4px] flex justify-center items-center cursor-pointer btn-secondary font-semibold text-[14px] text-white text-center min-w-[70px]">
        @if (isLoading) {
        <mat-spinner [diameter]="24" class="white-custom-spinner"></mat-spinner>
        } @else {
        <span>Save</span>
        }
      </button>
    </div>
  </form>
</div>